// 响应式断点
@mixin respond-to($breakpoint) {
  @if $breakpoint == 'xs' {
    @media (max-width: 575px) { @content; }
  }
  @if $breakpoint == 'sm' {
    @media (min-width: 576px) { @content; }
  }
  @if $breakpoint == 'md' {
    @media (min-width: 768px) { @content; }
  }
  @if $breakpoint == 'lg' {
    @media (min-width: 992px) { @content; }
  }
  @if $breakpoint == 'xl' {
    @media (min-width: 1200px) { @content; }
  }
  @if $breakpoint == 'xxl' {
    @media (min-width: 1600px) { @content; }
  }
}

// 文本溢出显示省略号
@mixin text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 多行文本溢出显示省略号
@mixin text-ellipsis-multiline($lines: 2) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

// 清除浮动
@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

// 居中布局
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// 绝对居中
@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// 按钮样式混合器
@mixin button-variant($background, $border, $color) {
  background-color: $background;
  border-color: $border;
  color: $color;

  &:hover,
  &:focus {
    background-color: darken($background, 10%);
    border-color: darken($border, 10%);
    color: $color;
  }

  &:disabled {
    background-color: lighten($background, 20%);
    border-color: lighten($border, 20%);
    color: lighten($color, 20%);
  }
}